---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="yabAI chat!" sideBarActiveItemID="home">

  <img src="/3dmodel.jpg" alt="yabAI chat!" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">3D modelling</div>
  </div>

I specialize in anime style models. I offer full 3D models with rigging and animations. I use Blender for my work.
<br>
<br>
My starting rate is 15 USD / hour. I also offer package deals and discounts may be considered based on the amount of work commissioned. Please do not hesitate to get in contact for quotations. 
<br>
<br>
  I accept Hentai and NSFW projects as long as they don't depict anything illegal. 
<br>
<br>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Services</div>
</div>
<div class="mb-5">
I offer the following services in terms of 3D modelling:
<ul class="list-disc md:columns-1 mx-6">
<li> 3D modelling</li>
<li> IK / FK Rigging</li>
<li> Basic animations </li>
<li> Converting to game engines like Unity and Unreal</li>
<li> Retopology and optimization</li>
<li> Anime style lightning </li>
<li> UV Texturing</li>
</ul>


</div>
</BaseLayout>
