---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Portfolio" sideBarActiveItemID="portfolio">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Games (indie)</div>
  </div>

  <HorizontalCard
    title="Whispers of the Luminaries"
    img="/wotl.webp"
    desc="After a successful demo release and Kickstarter campaign, Whispers of the Luminaries is now in full development and is scheduled to release in 2025."
    url="wotl"
    badge="FREE DEMO"

  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Detective Dana المحققة دانة"
    img="/detectivedana.webp"
    desc="Part of a program to foster the gaming scene in the Arabic-speaking market, Detective Dana has a lot of hype around it and is expected to release in Summer 2025."
    url="dana"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Games (solo)</div>
  </div>

  <HorizontalCard
    title="yabAI! chat"
    img="/yabaichat.webp"
    desc="Engage in a Japanese language conversation with a cute AI-powered anime girl. There are several tools to assist you in case you are learning the language, such as live dictionary and text display options."
    url="yabaichat"
    badge="FREE WITH OPENAI KEY"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Github</div>
  </div>

  <HorizontalCard
    title="Naninovel Scene Assistant"
    img="/naninovel.webp"
    desc="Developed and maintained since 2021, Naninovel Scene Assistant is the most popular extension for Naninovel that lets you easily modify objects in real time and copy their corresponding command and parameters directly into the clipboard."
    url="sceneassistant"
    badge="FREE DEMO"
  />

  <HorizontalCard
  title="Naninovel Post Process"
  img="/naninovel.webp"
  desc="Post processing commands for use within Naninovel."
  url="postprocess"
  badge="FREE DEMO"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">3D modelling</div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Video</div>
  </div>

  <HorizontalCard
  title="SherlockHerlock"
  img="/sherlockherlock.png"
  desc="SherlockHerlock is a Youtube channel that focuses on creating humorous and informative videos about the Ace Attorney series. Several video have reached over 100k views."
  url="sherlockherlock"
  badge="1.85M Lifetime Views"
  />

</BaseLayout>
