---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Naninovel Scene Assistant" sideBarActiveItemID="projects">

  <img src="/naninovel.webp" alt="Naninovel Scene Assistant" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Naninovel Scene Assistant</div>
  </div>


  <div class="mb-6">
    <!-- Link with button to the Steam page -->
    <a href="https://github.com/idaocracy/NaninovelSceneAssistant" target="_blank" class="bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-600">
      Github page with WebGL demo
    </a>
  </div>

  <div class="mb-10 text-justify">
    Developed and maintained since 2021, Naninovel Scene Assistant is the most popular extension for Naninovel that lets you easily modify objects in real time and copy their corresponding command and parameters directly into the visual editor or clipboard.
    <br><br>
    I have maintained and updated the extension since August 2021, and it has served as a platform to showcase my growth as a programmer.
    <br><br>
    It has been received acclaim by many Naninovel developers, and has been especially helpful for granting non-programmers more granular control over their scenes. It was used in the development of <a href="/wotl">Whispers of the Luminaries</a> as well as Storm the Swan, the latter of which received viral attention and was showcased on ManlyBadassHero's YouTube channel, among others.
      
  
    <iframe width="560" height="315" src="https://www.youtube.com/embed/05n8dIsLcRY?si=Mmz28QKz000GFh1U&amp;start=1378" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>


  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
