---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="SherlockHerlock" sideBarActiveItemID="projects">

  <img src="/sherlockherlock.png" alt="SherlockHerlock" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">SherlockHerlock</div>
  </div>


  <div class="mb-6">
    <!-- Link with button to the Steam page -->
    <a href="https://www.youtube.com/@ACENVL" target="_blank" class="bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-600">
      Youtube link
    </a>
  </div>

<!-- <video autoplay="" loop>
<source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
</video> -->

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Introduction</div>
</div>
  <div class="mb-10 text-justify">
    SherlockHerlock is a Youtube channel that focuses on creating humorous and informative videos about the Ace Attorney series. Several video have reached over 100k views.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Comedy videos</div>
  </div>
  <div style="justify-content: center; display: flex;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O2P2HDf5q20?si=GZ34lVOeFjPOOrfT&amp;start=22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="mb-5">  </div>
  <div style="justify-content: center; display: flex;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/dMUhBVW24Vc?si=bAwtPOcN8boxfyCN&amp;start=22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="mb-5"></div>
<div style="justify-content: center; display: flex;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/HvBFH0O8VXQ?si=6RSrU0LHr81lmGMO&amp;start=22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

</BaseLayout>
