---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="yabAI chat!" sideBarActiveItemID="home">

  <img src="/3dmodel.jpg" alt="yabAI chat!" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Virtual assistant</div>
  </div>

  I welcome any administrative tasks you may have. I am available for website management, video content creation, and other tasks.
  <br>
  <br>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Services</div>
</div>
<div class="mb-5">
I offer the following services as a virtual assistant:
<ul class="list-disc md:columns-1 mx-6">
<li> Graphic design & illustration</li>
<li> Wordpress setup and management</li>
<li> E-commerce management </li>
<li> Video content creation</li>
<li> E-learning material creation</li>
<li> General administrative work </li>
<li> Customer service</li>
</ul>


</div>
</BaseLayout>
