---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="yabAI chat!" sideBarActiveItemID="projects">

  <img src="/yabaichat.webp" alt="yabAI chat!" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Visual novel development</div>
  </div>

  Whether simple or complex, I can help you make your ideal visual novel that can be ported to most platforms. 

  I use Unity and Naninovel for my projects. Naninovel is the most advanced visual novel extension available on the market. I have 4 years of experience with the engine, specifically in the role as official technical support for the engine. I have developed several successful extensions for it. Also see the Games section in my Projects page for published games. 

My starting rate is 20 USD / hour. I also offer package deals and discounts may be considered based on the amount of work commissioned. Please do not hesitate to get in contact for quotations. 

  I accept Hentai and NSFW projects as long as they don't depict anything illegal. 

  <div class="mb-5">
  I offer the following services for 3D modeling:
  <ul class="list-disc md:columns-1 mx-6">
  <li> Naninovel project management & scenario scripting</li>
  <li> Game design and prototyping</li>
  <li> Porting from Ren'py and other systems </li>
  <li> Editor tools for artists and non-programmers</li>
  <li> UI / UX design & implementation </li>
  <li> Complex Multi-Inventory System </li>
  <li> Variable Automation</li>
  <li> Point & Click / Interaction System</li>
  <li> QA and optimization </li> 
  </ul>


</div>
</BaseLayout>
