---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Whispers of the Luminaries" sideBarActiveItemID="projects">

  <img src="/wotl.webp" alt="Whispers of the Luminaries" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Whispers of the Luminaries</div>
  </div>


  <div class="mb-6">
    <!-- Link with button to the Steam page -->
    <a href="https://store.steampowered.com/app/2540370/Whispers_of_the_Luminaries_Demo/" target="_blank" class="bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-600">
      Get the Demo on Steam
    </a>
  </div>

  <video autoplay="" loop>
  <source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
</video>

  <div class="mb-10 text-justify">
    Whispers of the Luminaries is an idol-themed murder mystery visual novel blending beautiful narratives with powerful J-Rock music. Play as a detective, and solve a deepening mystery as you follow the story of 4 idol trainees trying realize their dreams of fame & fortune. Choose how to spend your free time, deepen bonds and get ready to dive into a rabbit hole where things become progressively darker as you unravel the truth.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My Responsibilities</div>
  </div>
    I was fully responsible for bringing to life in cooperation with the lead designer. Released a 3-hour demo in summer 2024 which was pivotal in the game’s Kickstarter success (200% funded).
<br><br>

    - Remade a demo made by another developer, with sizeable modifications and feature additions
    <br><br>
    - Constructed the scenes with my Scene Assistant extension
    <br><br>
    - Crafted custom shaders and used my NaninovelPostProcessing extension for enhancing the visuals

  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
