---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="yabAI chat!" sideBarActiveItemID="projects">

  <img src="/yabaichat.webp" alt="yabAI chat!" class="w-full rounded-lg shadow-lg mb-6" />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">yabAI chat!</div>
  </div>


  <div class="mb-6">
    <!-- Link with button to the Steam page -->
    <a href="https://idaot.itch.io/yabai-chat" target="_blank" class="bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-600">
      Get it on itch.io
    </a>
  </div>

  <div class="mb-10 text-justify">
Engage in a Japanese language conversation with a cute AI-powered anime girl. There are several tools to assist you in case you are learning the language, such as live dictionary and text display options.  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My Responsibilities</div>
  </div>


  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
